body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.post{
  
}


body {
    font-family: 'Lucida Console';
    font-size-adjust:inherit;
    background-color:#ed8df8;
    color:#141479;
  
}


#statia-title{

   text-align: center;
   font: bold 18px 'Lucida Console';
   margin:10px;
   resize:both;
   padding-top:10px;
  
  
}
#statia-text{
    border: 1px solid blue;
     text-align: center;
      font: 13px 'Lucida Console';
      padding-bottom: 10px;
      padding-top: 20px;
}
#statia{
     text-align: center;
     
}
#statia-more{
    
}



 
