@model VladoBlog.Models.IndexViewModel
@{
    ViewBag.Title = "Промени в профила";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Направете промени</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смяна на паролата", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Създай", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
