@{
    ViewBag.Title = "Контакти";
}

<header></header>
<aside class="image" style="float:right">
    <img style="padding-bottom:5px; padding-top:5px" src="~/Images/sila.jpg"/>
</aside>
<main style="text-align:left">
    <div>автор: Владислав Лозанов</div>
    <div>e-mail: vladislav.lozanov@abv.bg</div>
    <div>Създадено за "SOFT UNI" COURSE summer 2016</div>

</main>

<aside style="float:left">
        
</aside>
